.App {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

img {
  width: 600px;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 1rem;
}

.leaflet-container {
  margin-top: 1rem;
  border: 1px solid #ccc;
}
